---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nacional de Cr茅ditos al Servicio | Aviso de privacidad'>
  <main>
    <div
      style="background-image: url('/background/bg1.webp');"
      class='bg-no-repeat bg-right-top bg-cover md:bg-contain object-fill h-full'
    >
      <div class="section pt-48 h-full pb-48 text-center ">
        <h2 class='title'>Aviso de Privacidad</h2>
        <p class='subtitle'>
           隆Descubre la libertad financiera con nuestros pr茅stamos en l铆nea!
          R谩pido, f谩cil y seguro.
        </p>

        <p class='text-left'>
          1. La entidad Nacional de Cr茅ditos al Servicio es responsable del
          manejo de sus datos personales.
          <br />
          2. El prop贸sito del manejo de sus datos personales es la emisi贸n de comunicados
          a trav茅s de correo electr贸nico, los cuales ser谩n almacenados en un sistema
          de env铆os masivos y podr铆an incluir publicidad, noticias y cualquier informaci贸n
          relacionada con Nacional de Cr茅ditos al Servicio.
          <br />
          3. En caso de que desee restringir el uso o divulgaci贸n de sus datos personales,
          puede hacerlo enviando un correo electr贸nico al Departamento de Datos Personales
          de Nacional de Cr茅ditos al Servicio (datos@NacionaldeCreditos.com).
          <br />
          4. Para ejercer sus derechos de acceso, rectificaci贸n, cancelaci贸n u oposici贸n
          en relaci贸n con sus datos personales, deber谩 notificarlo por correo electr贸nico
          al Departamento de Datos Personales de Nacional de Cr茅ditos al Servicio
          (datos@NacionaldeCreditos.com).
          <br />
          5. Nacional de Cr茅ditos de Libre Inversi贸n Online podr铆a transferir sus
          datos personales a terceros, nacionales o extranjeros, con el fin de almacenarlos
          en un servidor web para prestar el servicio de env铆o masivo de correos
          y/o alojamiento web.
          <br />
          6. Nacional de Cr茅ditos al Servicio informar谩 cualquier modificaci贸n a
          este Aviso de Privacidad en la p谩gina (NacionaldeCreditos.com/aviso-de-privacidad).
          <br />
          7. Nacional de Cr茅ditos al Servicio no ha recopilado informaci贸n personal
          sensible, ya que ninguno de los datos obtenidos revela origen racial o
          茅tnico, estado de salud actual o futuro, informaci贸n gen茅tica, creencias
          religiosas, filos贸ficas y morales, afiliaci贸n sindical, opiniones pol铆ticas
          o preferencia sexual.
          <br /><br />
          Usted otorga su consentimiento impl铆cito para el manejo de sus datos personales
          si no expresa objeci贸n a este aviso.
        </p>
      </div>
    </div>
  </main>
</Layout>
