---
import Solution from '../components/Solution.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nacional de Créditos al Servicio | Contáctenos'>
  <main>
    <div
      style="background-image: url('/background/bg1.webp');"
      class='bg-no-repeat bg-right-top bg-cover md:bg-contain object-fill pt-[80px] md:pt-[0px] h-full'
    >
      <Solution />
    </div>
  </main>
</Layout>
