---
import Feature from '../components/Feature.astro'
import Intro from '../components/Intro.astro'
import About from '../components/About.astro'
import Choose from '../components/Choose.astro'
import Layout from '../layouts/Layout.astro'
import Example from '../components/Example.astro'
import Solution from '../components/Solution.astro'
---

<Layout title='Nacional de Créditos al Servicio | Préstamos Inmediatos'>
  <main>
    <Intro />
    <Feature />
    <About />
    <Choose />
    <Example />
    <Solution />
  </main>
</Layout>
