---
import Button from '../components/Button.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Nacional de Créditos al Servicio | Gracias Por Preferirnos'>
  <main>
    <div
      style="background-image: url('/background/bg1.webp');"
      class='bg-no-repeat bg-right-top bg-cover md:bg-contain object-fill h-full'
    >
      <div class='section py-72 h-screen text-center'>
        <h2 class='title'>¡Gracias Por Preferirnos!</h2>
        <p class='subtitle'>
          ¡Listo! 🌟 Mensaje recibido con éxito. Nuestro asesor se pondrá en
          contacto contigo en breve. ¡Disfruta del servicio financiero de alta
          calidad que te ofrecemos! 💼✨
          <br /><br />
          🌟 ¡Gracias por confiar en nosotros! 🌟
        </p>
        <Button href='/' type='black'>Ir al Inicio</Button>
      </div>
    </div>
  </main>
</Layout>

<script is:inline>
  gtag('event', 'conversion', {
    send_to: 'AW-16461849907/gr1NCMaV45IZELPKz6k9'
  })
</script>
