<section
  style="background-image: url('/background/bg2.webp');"
  class='bg-no-repeat bg-contain'
>
  <div class='section pt-4 md:pt-24 pb-20'>
    <div class='grid md:grid-cols-2 grid-cols-1 gap-20'>
      <div class='bg-zinc-100/70 p-5 py-8 rounded-2xl shadow-2xl my-auto'>
        <div
          class='grid grid-cols-8 gap-4 auto-rows-[16rem] [&>div]:rounded-lg'
        >
          <div
            style="background-image: url('/about/1.webp');"
            class='bg-no-repeat bg-cover bg-center col-span-4'
          >
          </div>
          <div
            style="background-image: url('/about/2.webp');"
            class='bg-no-repeat bg-cover bg-center bg-slate-400 col-span-4'
          >
          </div>
          <div
            style="background-image: url('/about/3.webp');"
            class='bg-no-repeat bg-cover col-span-8'
          >
          </div>
        </div>
      </div>
      <div class='p-5 py-8'>
        <h3 class='title'>Porque Somos la Mejor Opción en Créditos Online</h3>
        <p class='text-left w-full font-openSans pb-6'>
          🌟 ¡Descubre la facilidad de obtener créditos en línea con nosotros!
          Sin complicaciones, solo soluciones.
        </p>
        <p class="pb-4"><strong>Tasa de Intereés</strong> 0,2% mensual</p>
        <p class="pb-4">$2'000.000 a 24 meses = $108.333</p>
        <p class="pb-4">$50'000.000 a 84 meses = $620.239</p>
        <p class="pb-8">$100'000.000 a 120 meses = $859.333</p>
        <div class='grid grid-rows-2 gap-6'>
          <div class='py-7 px-6 flex'>
            <svg
              class='mt-1'
              width='21'
              height='21'
              viewBox='0 0 21 21'
              fill='none'
            >
              <circle
                cx='10.5'
                cy='10.499'
                r='10'
                fill='#47CFFF'
                stroke='#1EB1E6'></circle>
            </svg>
            <div class='pl-2'>
              <h4 class='font-medium text-2xl'>Construye tu Futuro</h4>
              <p class='font-openSans font-normal'>
                ¡Enfrenta el futuro con confianza! Nuestros créditos en línea
                son la llave hacia la estabilidad financiera.
              </p>
            </div>
          </div>
          <div class='py-7 px-6 flex'>
            <svg
              class='mt-1'
              width='21'
              height='21'
              viewBox='0 0 21 21'
              fill='none'
            >
              <circle
                cx='10.5'
                cy='10.499'
                r='10'
                fill='#47CFFF'
                stroke='#1EB1E6'></circle>
            </svg>
            <div class='pl-2'>
              <h4 class='font-medium text-2xl'>¡Libera Tus Sueños!</h4>
              <p class='font-openSans font-normal'>
                ¡Haz crecer tu patrimonio con nuestros créditos en línea! La
                fórmula para el éxito económico.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
