---
import Button from './Button.astro'
---

<section
  style="background-image: url('/background/bg3.webp');"
  class='bg-no-repeat bg-contain bg-right-bottom md:bg-right'
>
  <div class='section pt-0 md:pt-24 pb-20'>
    <div class='grid md:grid-cols-2 grid-cols-1 gap-20'>
      <div class='p-5 py-8'>
        <h3 class='title'>
          Compruebe Nuestro Sistema de Financiamiento Garantizado
        </h3>
        <p class='text-left w-full font-openSans pb-8'>
          💡 ¿Necesitas dinero rápido? Nuestros préstamos en línea son la
          respuesta. ¡Haz clic y cambia tu vida!
        </p>
        <div class='grid grid-cols-2 gap-8 mb-6'>
          <div class='py-7'>
            <div class='flex items-center'>
              <svg
                class='mr-4'
                width='28'
                height='30'
                viewBox='0 0 28 30'
                fill='none'
              >
                <path
                  d='M25.6667 0H2.33333C1.71449 0 1.121 0.253233 0.683417 0.70399C0.245833 1.15475 0 1.76611 0 2.40357V11.2217C0 24.6517 11.0542 29.1133 13.2708 29.8644C13.7411 30.0452 14.2589 30.0452 14.7292 29.8644C16.9458 29.1133 28 24.6517 28 11.2217V2.40357C28 1.76611 27.7542 1.15475 27.3166 0.70399C26.879 0.253233 26.2855 0 25.6667 0ZM19.9062 13.7004L15.8812 15.0524L18.375 18.5826C18.465 18.7095 18.5297 18.8535 18.5652 19.0064C18.6008 19.1592 18.6065 19.3178 18.5821 19.4729C18.5577 19.628 18.5036 19.7766 18.423 19.91C18.3424 20.0434 18.2368 20.159 18.1125 20.2501C17.9166 20.407 17.6752 20.4916 17.4271 20.4905C17.2427 20.4887 17.0611 20.4431 16.8967 20.3571C16.7323 20.2711 16.5894 20.1471 16.4792 19.9947L14 16.4645L11.5208 19.9947C11.4106 20.1471 11.2677 20.2711 11.1033 20.3571C10.9389 20.4431 10.7573 20.4887 10.5729 20.4905C10.3248 20.4916 10.0834 20.407 9.8875 20.2501C9.76317 20.159 9.65763 20.0434 9.57702 19.91C9.4964 19.7766 9.44232 19.628 9.4179 19.4729C9.39347 19.3178 9.39921 19.1592 9.43476 19.0064C9.47031 18.8535 9.53498 18.7095 9.625 18.5826L12.1187 15.0524L8.09375 13.7004C7.80049 13.6037 7.5562 13.3916 7.41415 13.1102C7.2721 12.8288 7.2438 12.5009 7.33542 12.1981C7.43237 11.8949 7.64112 11.6431 7.91665 11.497C8.19218 11.3509 8.51242 11.3221 8.80833 11.417L12.8333 12.769V8.41251C12.8333 8.09377 12.9562 7.7881 13.175 7.56272C13.3938 7.33734 13.6906 7.21072 14 7.21072C14.3094 7.21072 14.6062 7.33734 14.825 7.56272C15.0438 7.7881 15.1667 8.09377 15.1667 8.41251V12.769L19.1917 11.417C19.4876 11.3221 19.8078 11.3509 20.0833 11.497C20.3589 11.6431 20.5676 11.8949 20.6646 12.1981C20.7562 12.5009 20.7279 12.8288 20.5858 13.1102C20.4438 13.3916 20.1995 13.6037 19.9062 13.7004Z'
                  fill='#47CFFF'></path>
              </svg>
              <svg width='58' height='44' viewBox='0 0 58 44' fill='none'>
                <path
                  d='M4.49552 2.2V41.8C4.49552 42.3835 4.2587 42.9431 3.83716 43.3556C3.41563 43.7682 2.8439 44 2.24776 44C1.65162 44 1.07989 43.7682 0.658354 43.3556C0.236817 42.9431 0 42.3835 0 41.8V2.2C0 1.61652 0.236817 1.05695 0.658354 0.644365C1.07989 0.231785 1.65162 0 2.24776 0C2.8439 0 3.41563 0.231785 3.83716 0.644365C4.2587 1.05695 4.49552 1.61652 4.49552 2.2ZM28.097 17.1875L22.4776 18.975V13.2C22.4776 12.6165 22.2408 12.0569 21.8192 11.6444C21.3977 11.2318 20.826 11 20.2298 11C19.6337 11 19.062 11.2318 18.6404 11.6444C18.2189 12.0569 17.9821 12.6165 17.9821 13.2V18.975L12.3627 17.1875C12.0843 17.0937 11.7896 17.0558 11.4959 17.0759C11.2023 17.0961 10.9158 17.1739 10.6536 17.3048C10.3913 17.4357 10.1587 17.617 9.96963 17.8378C9.78054 18.0586 9.63884 18.3144 9.55297 18.59C9.45679 18.8643 9.41769 19.1546 9.43797 19.4439C9.45824 19.7332 9.53749 20.0156 9.67104 20.2745C9.80458 20.5334 9.98973 20.7634 10.2156 20.9511C10.4414 21.1389 10.7033 21.2804 10.9859 21.3675L16.6053 23.155L13.1213 27.83C12.9471 28.0645 12.822 28.3303 12.7531 28.6123C12.6842 28.8942 12.673 29.1867 12.72 29.4729C12.767 29.7591 12.8713 30.0334 13.027 30.2801C13.1826 30.5267 13.3866 30.7408 13.627 30.91C14.1133 31.2472 14.7154 31.3842 15.3038 31.2917C15.8922 31.1991 16.42 30.8844 16.7739 30.415L20.2298 25.74L23.6858 30.415C24.0396 30.8844 24.5675 31.1991 25.1559 31.2917C25.7443 31.3842 26.3463 31.2472 26.8326 30.91C27.0731 30.7408 27.277 30.5267 27.4327 30.2801C27.5883 30.0334 27.6927 29.7591 27.7397 29.4729C27.7867 29.1867 27.7754 28.8942 27.7065 28.6123C27.6377 28.3303 27.5126 28.0645 27.3384 27.83L23.8543 23.155L29.4737 21.3675C29.7563 21.2804 30.0183 21.1389 30.2441 20.9511C30.4699 20.7634 30.6551 20.5334 30.7886 20.2745C30.9222 20.0156 31.0014 19.7332 31.0217 19.4439C31.042 19.1546 31.0029 18.8643 30.9067 18.59C30.8208 18.3144 30.6791 18.0586 30.49 17.8378C30.3009 17.617 30.0683 17.4357 29.8061 17.3048C29.5439 17.1739 29.2574 17.0961 28.9637 17.0759C28.6701 17.0558 28.3753 17.0937 28.097 17.1875ZM57.8798 18.59C57.7939 18.3144 57.6522 18.0586 57.4631 17.8378C57.274 17.617 57.0414 17.4357 56.7792 17.3048C56.517 17.1739 56.2305 17.0961 55.9368 17.0759C55.6432 17.0558 55.3484 17.0937 55.0701 17.1875L49.4507 18.975V13.2C49.4507 12.6165 49.2139 12.0569 48.7923 11.6444C48.3708 11.2318 47.7991 11 47.2029 11C46.6068 11 46.0351 11.2318 45.6135 11.6444C45.192 12.0569 44.9552 12.6165 44.9552 13.2V18.975L39.3358 17.1875C39.0574 17.0937 38.7627 17.0558 38.469 17.0759C38.1754 17.0961 37.8889 17.1739 37.6267 17.3048C37.3644 17.4357 37.1318 17.617 36.9427 17.8378C36.7536 18.0586 36.6119 18.3144 36.5261 18.59C36.4299 18.8643 36.3908 19.1546 36.4111 19.4439C36.4313 19.7332 36.5106 20.0156 36.6441 20.2745C36.7777 20.5334 36.9628 20.7634 37.1887 20.9511C37.4145 21.1389 37.6764 21.2804 37.959 21.3675L43.5784 23.155L40.0944 27.83C39.9202 28.0645 39.7951 28.3303 39.7262 28.6123C39.6573 28.8942 39.6461 29.1867 39.6931 29.4729C39.7401 29.7591 39.8444 30.0334 40.0001 30.2801C40.1557 30.5267 40.3597 30.7408 40.6001 30.91C41.0864 31.2472 41.6885 31.3842 42.2769 31.2917C42.8653 31.1991 43.3931 30.8844 43.747 30.415L47.2029 25.74L50.6589 30.415C51.0127 30.8844 51.5406 31.1991 52.129 31.2917C52.7174 31.3842 53.3194 31.2472 53.8057 30.91C54.0462 30.7408 54.2501 30.5267 54.4058 30.2801C54.5615 30.0334 54.6658 29.7591 54.7128 29.4729C54.7598 29.1867 54.7485 28.8942 54.6796 28.6123C54.6108 28.3303 54.4857 28.0645 54.3115 27.83L50.8274 23.155L56.4468 21.3675C56.7294 21.2804 56.9914 21.1389 57.2172 20.9511C57.443 20.7634 57.6282 20.5334 57.7617 20.2745C57.8953 20.0156 57.9745 19.7332 57.9948 19.4439C58.0151 19.1546 57.976 18.8643 57.8798 18.59Z'
                  fill='#47CFFF'></path>
              </svg>
            </div>
            <div class='pt-2'>
              <h4 class='font-medium text-2xl'>Seguridad</h4>
              <p class='font-openSans font-normal'>
                Protegiendo lo que Más Importa: Nuestros Préstamos en Línea y tu
                Seguridad
              </p>
            </div>
          </div>
          <div class='py-7'>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              width='66'
              height='37'
              viewBox='0 0 66 37'
              fill='none'
            >
              <path
                d='M49.5 24.7567C49.5 25.4434 50.0604 26.0105 50.7377 25.8972C52.2677 25.6412 53.6919 24.9147 54.8033 23.8033C56.2098 22.3968 57 20.4891 57 18.5C57 16.5109 56.2098 14.6032 54.8033 13.1967C53.6919 12.0853 52.2677 11.3588 50.7377 11.1028C50.0604 10.9895 49.5 11.5566 49.5 12.2433C49.5 12.9299 50.065 13.4714 50.7306 13.6399C51.5992 13.8599 52.4008 14.3107 53.045 14.955C53.9852 15.8952 54.5134 17.1704 54.5134 18.5C54.5134 19.8296 53.9852 21.1048 53.045 22.045C52.4008 22.6893 51.5992 23.1401 50.7306 23.3601C50.065 23.5286 49.5 24.0701 49.5 24.7567Z'
                fill='#49E4EB'></path>
              <path
                d='M51.5 31.1279C51.5 32.1618 52.3417 33.0125 53.367 32.8794C56.5238 32.4696 59.4776 31.0285 61.753 28.753C64.4723 26.0338 66 22.3456 66 18.5C66 14.6544 64.4723 10.9662 61.753 8.24695C59.4776 5.97152 56.5238 4.53045 53.367 4.12064C52.3417 3.98753 51.5 4.83815 51.5 5.87207C51.5 6.90599 52.3444 7.72756 53.3627 7.90662C55.5237 8.2866 57.533 9.32192 59.1055 10.8945C61.1227 12.9116 62.2559 15.6474 62.2559 18.5C62.2559 21.3526 61.1226 24.0884 59.1055 26.1055C57.533 27.6781 55.5237 28.7134 53.3627 29.0934C52.3444 29.2724 51.5 30.094 51.5 31.1279Z'
                fill='#49E4EB'></path>
              <path
                d='M2.43268 11.0888L19.7999 5.98763H19.8211L39.6633 0.13946C40.1686 -0.0119044 40.7023 -0.0405333 41.2206 0.0559114C41.739 0.152356 42.2274 0.37114 42.646 0.694396C43.0701 1.00895 43.414 1.4207 43.6494 1.8957C43.8848 2.3707 44.0049 2.89535 43.9998 3.42639V33.0087C43.9999 33.9108 43.6462 34.7762 43.016 35.416C42.3858 36.0558 41.5304 36.4181 40.6364 36.4237C40.3079 36.4245 39.9807 36.3815 39.6633 36.2957L21.9999 31.0878V33.585C21.9999 34.4907 21.6433 35.3593 21.0086 35.9998C20.3739 36.6402 19.513 37 18.6153 37H11.8461C10.9485 37 10.0876 36.6402 9.45284 35.9998C8.8181 35.3593 8.46151 34.4907 8.46151 33.585V27.1179L2.43268 25.3463C1.73082 25.1352 1.11512 24.7014 0.676899 24.1093C0.238686 23.5172 0.00131226 22.7984 0 22.0594V14.3757C0.00131226 13.6367 0.238686 12.9179 0.676899 12.3258C1.11512 11.7337 1.73082 11.2999 2.43268 11.0888ZM11.8461 33.585H18.6153V30.106L11.8461 28.0997V33.585ZM3.3846 22.0594L10.6615 24.1938L18.6153 26.5416V9.89352L3.3846 14.3757V22.0594Z'
                fill='#49E4EB'></path>
            </svg>
            <div class='pt-2'>
              <h4 class='font-medium text-2xl'>Transparencia</h4>
              <p class='font-openSans font-normal'>
                Claridad desde el Primer Paso: Descubre la Transparencia en
                Nuestros Préstamos
              </p>
            </div>
          </div>
        </div>
        <Button href='/contactenos' type='black' class='ml-3'>Contáctenos</Button>
      </div>
      <div class='bg-zinc-100/70 p-5 py-8 rounded-2xl shadow-2xl my-auto'>
        <div
          class='grid grid-cols-2 gap-4 auto-rows-[25rem] md:auto-rows-[30rem] [&>div]:rounded-lg'
        >
          <div
            style="background-image: url('/choose/men.webp');"
            class='col-span-1 bg-no-repeat bg-cover bg-center'
          >
          </div>
          <div
            style="background-image: url('/choose/won.webp');"
            class='col-span-1 bg-no-repeat bg-cover bg-center'
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
