---
import Button from './Button.astro'
import Form from './Form'
// import Form from './Form.astro'
---

<section
  style="background-image: url('/background/bg1.webp');"
  class='bg-no-repeat bg-right-top bg-cover md:bg-contain object-fill pt-[80px] h-lvh'
>
  <div
    class='grid md:grid-cols-2 grid-cols-1 gap-2 items-center h-screen mx-auto max-w-screen-xl px-4'
  >
    <div
      class='md:max-w-[500px] py-16 md:py-4 animate-fade animate-delay-200 text-center md:text-left'
    >
      <h1 class='md:text-4xl text-3xl font-bold mb-5'>
        ¡Desata tu Potencial Financiero! Con Nuestros Créditos en Línea
      </h1>
      <p class='lg:text-2xl md:text-xl text-gray-700 mb-6'>
        💰 ¡Haz realidad tus sueños ahora con nuestros créditos en línea! 💸 ¡La
        mejor manera de financiar tus proyectos!
      </p>
      <p class="pb-2"><strong>TAE</strong> 0,2% mensual</p>
      <p class="pb-2">$2'000.000 a 24 meses = $108.333</p>
      <p class="pb-2">$50'000.000 a 84 meses = $620.239</p>
      <p class="pb-8">$100'000.000 a 120 meses = $859.333</p>
      <div>
        <Button href='' type='black'>Saber Más</Button>
        <Button href='/contactenos' type='transparent' class='ml-3'>Contáctenos</Button>
      </div>
    </div>

    <div class='justify-self-end animate-fade animate-delay-200 w-full'>
      <Form className='md:w-full w-[90%] bg-zinc-100/90 py-6 px-8 rounded-lg shadow-2xl mx-auto' client:load />
    </div>
  </div>
</section>
